@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  --font-mono:
    "Courier New",
    Courier,
    monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}
